# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/
.streamlit_disk_cache/
.streamlit_app_artifacts/

# Virtual environment
venv/
ENV/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 